interactions:
- request:
    body: artist=Static-X&track=Set+It+Off&method=track.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><track><name>Set It Off</name>

        <url>https://www.last.fm/music/Static-X/_/Set+It+Off</url>

        <duration>235000</duration>

        <streamable fulltrack="0">0</streamable>

        <listeners>43018</listeners>

        <playcount>244409</playcount>

        <artist><name>Static-X</name>

        <url>https://www.last.fm/music/Static-X</url>

        </artist>

        <album><artist>Static-X</artist>

        <title>Start a War</title>

        <url>https://www.last.fm/music/Static-X/Start+a+War</url>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/6a9abd39b7e57420c671eae4ebc31c3b.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/6a9abd39b7e57420c671eae4ebc31c3b.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/6a9abd39b7e57420c671eae4ebc31c3b.png</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/6a9abd39b7e57420c671eae4ebc31c3b.png</image>

        </album>

        <userplaycount>0</userplaycount><userloved>0</userloved><toptags></toptags>

        </track>

        </lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
