interactions:
- request:
    body: artist=Guns+N%27+Roses&track=mrbrownstone&method=track.getCorrection
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><corrections><correction index="0" artistcorrected="0" trackcorrected="1"><track><name>Mr.
        Brownstone</name>

        <url>https://www.last.fm/music/Guns+N%27+Roses/_/Mr.+Brownstone</url>

        <artist><name>Guns N&apos; Roses</name>

        <url>https://www.last.fm/music/Guns+N%27+Roses</url>

        </artist>

        </track>

        </correction>

        </corrections>

        </lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
