interactions:
- request:
    body: artist=Labi+Siffre&track=I+Got+The...&method=track.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<lfm status=\"ok\"><track><name>I
        Got The...</name>\n<mbid>1813c43a-656e-47a4-88fc-3e4b85c2bf1b</mbid>\n<url>https://www.last.fm/music/Labi+Siffre/_/I+Got+The...</url>\n<duration>384000</duration>\n<streamable
        fulltrack=\"0\">0</streamable>\n<listeners>62381</listeners>\n<playcount>230886</playcount>\n<artist><name>Labi
        Siffre</name>\n<mbid>6838ca8e-da88-436c-a0fd-6d3a7e832f1f</mbid>\n<url>https://www.last.fm/music/Labi+Siffre</url>\n</artist>\n<album><artist>Labi
        Siffre</artist>\n<title>The Best of Labi Siffre</title>\n<url>https://www.last.fm/music/Labi+Siffre/The+Best+of+Labi+Siffre</url>\n<image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/8b51865bc3f87da16a5d3ebf75092a9a.png</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/8b51865bc3f87da16a5d3ebf75092a9a.png</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/8b51865bc3f87da16a5d3ebf75092a9a.png</image>\n<image
        size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/8b51865bc3f87da16a5d3ebf75092a9a.png</image>\n</album>\n<userplaycount>15</userplaycount><userloved>1</userloved><toptags></toptags>\n<wiki><published>28
        Apr 2009, 13:04</published>\n<summary>This original song available on Labi
        Siffre&apos;s 1975 album Remember My Song (remastered on EMI CD in 2006) and
        on the 2006 EMI CD of re-mastered tracks The Best of Labi Siffre. The song
        is often incorrectly referred to as I Got The Blues, a title Labi rejected
        as being &quot;a clich\xE9 too far&quot;&#10;&#10;For rapper Eminem&apos;s
        hit single My Name Is, hip hop record producer Dr. Dre wanted to use a sample
        (written by Siffre and including Siffre on electric piano) of this song for
        the rhythm track. &lt;a href=&quot;http://www.last.fm/music/Labi+Siffre/_/I+Got+The...&quot;&gt;Read
        more on Last.fm&lt;/a&gt;.</summary>\n<content>This original song available
        on Labi Siffre&apos;s 1975 album Remember My Song (remastered on EMI CD in
        2006) and on the 2006 EMI CD of re-mastered tracks The Best of Labi Siffre.
        The song is often incorrectly referred to as I Got The Blues, a title Labi
        rejected as being &quot;a clich\xE9 too far&quot;&#10;&#10;For rapper Eminem&apos;s
        hit single My Name Is, hip hop record producer Dr. Dre wanted to use a sample
        (written by Siffre and including Siffre on electric piano) of this song for
        the rhythm track. Siffre objected to what he describes as &quot;lazy writing&quot;
        (in the sleeve notes of the EMI re-mastered CD of the source album Remember
        My Song): &quot;Attacking two of the usual scapegoats, women and gays, is
        lazy writing. If you want to do battle, attack the aggressors not the victims&quot;.
        This tune also featured English duo Chas &amp; Dave who were at the time prominent
        Session musicians.  Eminem and Dr Dre edited their song to get the sample
        cleared.  &lt;a href=&quot;http://www.last.fm/music/Labi+Siffre/_/I+Got+The...&quot;&gt;Read
        more on Last.fm&lt;/a&gt;. User-contributed text is available under the Creative
        Commons By-SA License; additional terms may apply.</content>\n</wiki>\n</track>\n</lfm>\n"
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
