interactions:
- request:
    body: artist=Test+Artist&page=1&method=artist.getTopTracks
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><toptracks artist="Test Artist" page="1" perPage="50" totalPages="10"
        total="460"><track rank="1"><name>Test Track 6</name>

        <playcount>15121</playcount>

        <listeners>802</listeners>

        <url>https://www.last.fm/music/Test+Artist/_/Test+Track+6</url>

        <streamable>0</streamable>

        <artist><name>Test Artist</name>

        <url>https://www.last.fm/music/Test+Artist</url>

        </artist>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        </track>

        <track rank="2[...]
