interactions:
- request:
    body: artist=Cher&track=Believe&method=track.getSimilar
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><similartracks artist="Cher" track="Believe"><track><name>Strong
        Enough</name>

        <playcount>1970489</playcount>

        <match>1.000</match>

        <url>https://www.last.fm/music/Cher/_/Strong+Enough</url>

        <streamable fulltrack="0">0</streamable>

        <duration>223</duration>

        <artist><name>Cher</name>

        <mbid>bfcc6d75-a6a5-4bc6-8282-47aec8531818</mbid>

        <url>https://www.last.fm/music/Cher</url>

        </artist>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="mega">https://lastf[...]
