interactions:
- request:
    body: artist=Daft+Punk&track=Something+About+Us&method=track.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><track><name>Something About Us</name>

        <mbid>defbfcb2-7a5c-4456-be28-b7e5ccf92cc2</mbid>

        <url>https://www.last.fm/music/Daft+Punk/_/Something+About+Us</url>

        <duration>232000</duration>

        <streamable fulltrack="0">0</streamable>

        <listeners>1485893</listeners>

        <playcount>13830851</playcount>

        <artist><name>Daft Punk</name>

        <mbid>056e4f3e-d505-4dad-8ec1-d04f521cbb56</mbid>

        <url>https://www.last.fm/music/Daft+Punk</url>

        </artist>

        <album><artist>Daft Punk</artist>

        <title>Discovery</title>

        <url>https://www.last.fm/music/Daft+Punk/Discovery</url>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/1340e9e1082cf0dc748583b7eefce6d5.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/1340e9e1082cf0dc748583b7eefce6d5.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/1340e9e1082cf0dc748583b7eefce6d5.png</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/1340e9e1082cf0dc748583b7eefce6d5.png</image>

        </album>

        <userplaycount>0</userplaycount><userloved>0</userloved><toptags><tag><name>electronic</name>

        <url>https://www.last.fm/tag/electronic</url>

        </tag>

        <tag><name>chillout</name>

        <url>https://www.last.fm/tag/chillout</url>

        </tag>

        <tag><name>poptron</name>

        <url>https://www.last.fm/tag/poptron</url>

        </tag>

        <tag><name>electronica</name>

        <url>https://www.last.fm/tag/electronica</url>

        </tag>

        <tag><name>Daft Punk</name>

        <url>https://www.last.fm/tag/Daft+Punk</url>

        </tag>

        </toptags>

        <wiki><published>03 Aug 2008, 22:38</published>

        <summary>&quot;Something About Us&quot; is a song by the French electronic
        music duo Daft Punk. It was released as the final single from the 2001 album
        Discovery as a promotion for their 2003 animated feature film Interstella
        5555: The 5tory of the 5ecret 5tar 5ystem. The song reached #93 on the SNEP
        chart ranking. &lt;a href=&quot;http://www.last.fm/music/Daft+Punk/_/Something+About+Us&quot;&gt;Read
        more on Last.fm&lt;/a&gt;.</summary>

        <content>&quot;Something About Us&quot; is a song by the French electronic
        music duo Daft Punk. It was released as the final single from the 2001 album
        Discovery as a promotion for their 2003 animated feature film Interstella
        5555: The 5tory of the 5ecret 5tar 5ystem. The song reached #93 on the SNEP
        chart ranking. &lt;a href=&quot;http://www.last.fm/music/Daft+Punk/_/Something+About+Us&quot;&gt;Read
        more on Last.fm&lt;/a&gt;. User-contributed text is available under the Creative
        Commons By-SA License; additional terms may apply.</content>

        </wiki>

        </track>

        </lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
