# .coveragerc to control coverage.py

[report]
# Regexes for lines to exclude from consideration
exclude_also =
    # Don't complain if non-runnable code isn't run:
    if TYPE_CHECKING:

[run]
disable_warnings =
    no-sysmon
