interactions:
- request:
    body: method=user.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <user>\n
        \   <name>test_user</name>\n    <realname></realname>\n    <image size=\"small\"></image>\n
        \   <image size=\"medium\"></image>\n    <image size=\"large\"></image>\n
        \   <image size=\"extralarge\"></image>\n    <url>https://www.last.fm/user/test_user</url>\n
        \   <country>None</country>\n    <age>0</age>\n    <gender>n</gender>\n    <subscriber>0</subscriber>\n
        \   <playcount>35</playcount>\n    <playlists>0</playlists>\n    <bootstrap>0</bootstrap>\n
        \   <registered unixtime=\"1083530858\">1083530858</registered>\n    <type>user</type>\n
        \   <artist_count>8</artist_count>\n    <album_count>0</album_count>\n    <track_count>24</track_count>\n
        \ </user>\n</lfm>\n"
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
