interactions:
- request:
    body: period=overall&limit=2&page=1&method=user.getTopTracks
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <toptracks
        user=\"RJ\" page=\"1\" perPage=\"2\" totalPages=\"28409\" total=\"56817\">\n
        \   <track rank=\"1\">\n      <name>Sultans of Swing</name>\n      <duration>798</duration>\n
        \     <playcount>106</playcount>\n      <mbid></mbid>\n      <url>https://www.last.fm/music/Dire+Straits/_/Sultans+of+Swing</url>\n
        \     <streamable fulltrack=\"0\">0</streamable>\n      <artist>\n        <name>Dire
        Straits</name>\n        <mbid>614e3804-7d34-41ba-857f-811bad7c2b7a</mbid>\n
        \       <url>https://www.last.fm/music/Dire+Straits</url>\n      </artist>\n
        \     <image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \ [...]
