interactions:
- request:
    body: method=user.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <user>\n
        \   <name>RJ</name>\n    <realname>Richard Jones </realname>\n    <image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/b26d6fd11de240a1c045dfb5c5d9fe65.png</image>\n
        \   <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/b26d6fd11de240a1c045dfb5c5d9fe65.png</image>\n
        \   <image size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/b26d6fd11de240a1c045dfb5c5d9fe65.png</image>\n
        \   <image size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/b26d6fd11de240a1c045dfb5c5d9fe65.png</image>\n
        \   <url>https://www.last.fm/user/RJ</url>\n    <country>United Kingdom</country>\n
        \   <age>0</age>\n    <gender>n</gender>\n    <subscriber>1</subscriber>\n
        \   <playcount>149018</playcount>\n    <playlists>0</playlists>\n    <bootstrap>0</bootstrap>\n
        \   <registered unixtime=\"1037793040\">1037793040</registered>\n    <type>alum</type>\n
        \   <artist_count>12711</artist_count>\n    <album_count>26565</album_count>\n
        \   <track_count>56817</track_count>\n  </user>\n</lfm>\n"
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
