interactions:
- request:
    body: from=1581778800&to=1581781200&page=1&method=user.getRecentTracks
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <recenttracks
        user=\"bbc6music\" page=\"1\" perPage=\"50\" totalPages=\"1\" total=\"11\">\n
        \   <track>\n      <artist mbid=\"\">Seun Kuti &amp; Egypt 80</artist>\n      <name>Struggles
        Sounds</name>\n      <streamable>0</streamable>\n      <mbid></mbid>\n      <album
        mbid=\"\"></album>\n      <url>https://www.last.fm/music/Seun+Kuti+&amp;+Egypt+80/_/Struggles+Sounds</url>\n
        \     <image size=\"small\"></image>\n      <image size=\"medium\"></image>\n
        \     <image size=\"large\"></image>\n      <image size=\"extralarge\"></image>\n
        \     <date uts=\"1581780986\">15 Feb 2020, 15:36</date>\n    </track>\n    <track>\n
        \     <artist mbid=\"2379937f-6e0d-46a2-b8ff-633fafd72002\">Wayne Shorter</artist>\n
        \     <name>Night Dreamer</name>\n      <streamable>0</streamable>\n      <mbid>09d5dd70-80f3-4598-bf71-dd1f627d4c50</mbid>\n
        \     <album mbid=\"\"></album>\n      <url>https://www.last.fm/music/Wayne+Shorter/_/Night+Dreamer</url>\n
        \     <image size=\"small\"></image>\n      <image size=\"medium\"></image>\n
        \     <image size=\"large\"></image>\n      <image size=\"extralarge\"></image>\n
        \     <date uts=\"1581780725\">15 Feb 2020, 15:32</date>\n    </track>\n    <track>\n
        \     <artist mbid=\"9e6731f6-822e-4735-a2bb-1b32098547a2\">Xiomara Alfaro</artist>\n
        \     <name>Nana Buruku</name>\n [...]
