interactions:
- request:
    body: artist=France+Gall&track=Laisse+Tomber+Les+Filles&page=1&method=user.getTrackScrobbles
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <trackscrobbles
        user=\"bbc6music\" page=\"1\" perPage=\"50\" totalPages=\"4\" total=\"158\">\n
        \   <track>\n      <artist mbid=\"385966f0-b912-4755-bad6-4780ebf3f4cd\">France
        Gall</artist>\n      <name>Laisse Tomber Les Filles</name>\n      <streamable>0</streamable>\n
        \     <mbid>87d4798e-93c6-4a10-b2cd-0ffc0581dcd1</mbid>\n      <album mbid=\"\"></album>\n
        \     <url>https://www.last.fm/music/France+Gall/_/Laisse+Tomber+Les+Filles</url>\n
        \     <image size=\"small\"></image>\n      <image size=\"medium\"></image>\n
        \     <image size=\"large\"></image>\n      <image size=\"extralarge\"></image>\n
        \     <date uts=\"1763349558\">17 Nov 2025, 03:19</date>\n    </track>\n    <track>\n
        \     <artist mbid=\"385966f0-b912-4755-bad6-4780ebf3f4cd\">France Gall</artist>\n
        \     <name>Laisse Tomber Les Filles</name>\n      <streamable>0</streamable>\n
        \     <mbid>87d4798e-93c6-4a10-b2cd-0ffc0581dcd1</mbid>\n      <album mbid=\"\"></album>\n
        \     <url>https://www.last.fm/music/France+Gall/_/Laisse+Tomber+Les+Filles</url>\n
        \     <image size=\"small\"></image>\n      <ima[...]
[...]
