interactions:
- request:
    body: limit=11&from=1311261000&to=1311261300&page=1&method=user.getRecentTracks
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <recenttracks
        user=\"RJ\" page=\"1\" perPage=\"11\" totalPages=\"1\" total=\"1\">\n    <track
        nowplaying=\"true\">\n      <artist mbid=\"3df914b9-e0bc-493c-875a-c412f84ecdad\">Crazy
        Frog</artist>\n      <name>Axel F</name>\n      <streamable>0</streamable>\n
        \     <mbid>5edf0422-8bec-48ac-8478-320900e2eba7</mbid>\n      <album mbid=\"\">Crazy
        Frog Presents Crazy Hits</album>\n      <url>https://www.last.fm/music/Crazy+Frog/_/Axel+F</url>\n
        \     <image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/36afbb4ad8ec44ec91dc42da309ea2e1.jpg</image>\n
        \     <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/36afbb4ad8ec44ec91dc42da309ea2e1.jpg</image>\n
        \     <image size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/36afbb4ad8ec44ec91dc42da309ea2e1.jpg</image>\n
        \     <image size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/36afbb4ad8ec44ec91dc42da309ea2e1.jpg</image>\n
        \   </track>\n    <track>\n      <artist mbid=\"\">Johnny Cash</artist>\n
        \     <name>Ring of Fire</name>\n      <streamable>0</streamable>\n      <mbid>8e85d1cb-a82e-47ed-b412-325360adec71</mbid>\n
        \     <album mbid=\"ede12196-5b0c-4ccf-9caf-950574a69e5e\">The Best Of</album>\n
        \     <url>https://www.last.fm/music/Johnny+Cash/_/Ring+of+Fire</url>\n      <image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/26ff9ce35cbfa070581de3b6e34f2c09.jpg</image>\n
        \     <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/26ff9ce35cbfa070581de3b6e34f2c09.jpg</image>\n
        \     <image size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/26ff9ce35cbfa070581de3b6e34f2c09.jpg</image>\n
        \     <image size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/26ff9ce35cbfa070581de3b6e34f2c09.jpg</image>\n
        \     <date uts=\"1311261170\">21 Jul 2011, 15:12</date>\n    </track>\n  </recenttracks>\n</lfm>\n"
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
