interactions:
- request:
    body: method=user.getWeeklyChartList
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><weeklychartlist user="RJ"><chart from="1108296000" to="1108900800"></chart>

        <chart from="1108900800" to="1109505600"></chart>

        <chart from="1109505600" to="1110110400"></chart>

        <chart from="1110110400" to="1110715200"></chart>

        <chart from="1110715200" to="1111320000"></chart>

        <chart from="1111320000" to="1111924800"></chart>

        <chart from="1111924800" to="1112529600"></chart>

        <chart from="1112529600" to="1113134400"></chart>

        <chart from="1113134400" to="111373[...]
- request:
    body: from=1108296000&to=1108900800&method=user.getWeeklyArtistChart
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <weeklyartistchart
        user=\"RJ\" from=\"1108296000\" to=\"1108900800\">\n    <artist rank=\"1\">\n
        \     <name>Aerosmith</name>\n      <mbid>3d2b98e5-556f-4451-a3ff-c50ea18d57cb</mbid>\n
        \     <playcount>403</playcount>\n      <url>https://www.last.fm/music/Aerosmith</url>\n
        \   </artist>\n    <artist rank=\"2\">\n      <name>Metallica</name>\n      <mbid>65f4f0c5-ef9e-490c-aee3-909e7ae6b2ab</mbid>\n
        \     <playcount>401</playcount>\n      <url>https://www.last.fm/music/Metallica</url>\n
        \   </artist>\n    <artist rank=\"3\">\n      <name>Miles Davis</name>\n      <mbid>561d854a-6a28-4aa7-8c99-323e6ce46c2a</mbid>\n
        \     <playcount>358</playcount>\n      <url>https://www.last.fm/music/Miles+[...]
- request:
    body: from=1108296000&to=1108900800&method=user.getWeeklyAlbumChart
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <weeklyalbumchart
        user=\"RJ\" from=\"1108296000\" to=\"1108900800\">\n    <album rank=\"1\">\n
        \     <artist mbid=\"3d2b98e5-556f-4451-a3ff-c50ea18d57cb\">Aerosmith</artist>\n
        \     <name>Nine Lives</name>\n      <mbid>08a2bf65-5277-3123-bc5e-035adcdf7920</mbid>\n
        \     <playcount>45</playcount>\n      <url>https://www.last.fm/music/Aerosmith/Nine+Lives</url>\n
        \   </album>\n    <album rank=\"2\">\n      <artist mbid=\"3d2b98e5-556f-4451-a3ff-c50ea18d57cb\">Aerosmith</artist>\n
        \     <name>Just Push Play</name>\n      <mbid>08c600d6-02[...]
- request:
    body: from=1108296000&to=1108900800&method=user.getWeeklyTrackChart
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <weeklytrackchart
        user=\"RJ\" from=\"1108296000\" to=\"1108900800\">\n    <track rank=\"1\">\n
        \     <artist mbid=\"12ff8858-bfcb-4812-a8dd-7e9debf0cbee\">Steppenwolf</artist>\n
        \     <name>The Pusher</name>\n      <mbid></mbid>\n      <playcount>25</playcount>\n
        \     <image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <url>https://www.last.fm/music/Steppenwolf/_/The+Pusher</url>\n    </track>\n
        \   <track rank=\"2\">\n      <artist mbid=\[...]
