interactions:
- request:
    body: limit=20&page=1&method=user.getLovedTracks
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <lovedtracks
        user=\"test-user\" page=\"1\" perPage=\"20\" totalPages=\"2\" total=\"23\">\n
        \   <track>\n      <name>Original Prankster</name>\n      <mbid>3efef57e-6e47-41bc-8832-54d11eed8105</mbid>\n
        \     <url>https://www.last.fm/music/The+Offspring/_/Original+Prankster</url>\n
        \     <date uts=\"1155722612\">16 Aug 2006, 10:03</date>\n      <artist>\n
        \       <name>The Offspring</name>\n        <mbid>23a03e33-a603-404e-bcbf-2c00159d7067</mbid>\n
        \       <url>https://www.last.fm/music/The+Offspring</url>\n      </artist>\n
        \     <image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <streamable fulltrack=\"0\">0</streamable>\n    </track>\n    <track>\n
        \     <name>The One Song</name>\n      <mbid></mbid>\n      <url>https://www.last.fm/music/Donots/_/The+One+Song</url>\n
        \     <date uts=\"1154510338\">02 Aug 2006, 09:18</date>\n      <artist>\n
        \       <name>Donots</name>\n        <mbid>06a4a555-1b69-4175-83df-2528a8e5af05</mbid>\n
        \       <url>https://www.last.fm/music/Donots</url>\n      </artist>\n      <image
        size=\"small\">https://lastfm.fr[...]
[...]
