interactions:
- request:
    body: artist=Test+Artist&track=test+title&tags=tracktagola&method=track.addTags
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"></lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: tag=tracktagola&taggingtype=track&limit=1&method=user.getpersonaltags
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><taggings user="REDACTED_USER" tag="tracktagola" page="1"
        perPage="1" totalPages="1" total="1"><tracks><track><name>Test Title</name>

        <duration>FIXME</duration>

        <mbid></mbid>

        <url>https://www.last.fm/music/Test+Artist/_/Test+Title</url>

        <streamable fulltrack="0">0</streamable>

        <artist><name>Test Artist</name>

        <mbid></mbid>

        <url>https://www.last.fm/music/Test+Artist</url>

        </artist>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        </track>

        </tracks>

        </taggings>

        </lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
