interactions:
- request:
    body: period=overall&limit=1&method=user.getTopArtists
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <topartists
        user=\"REDACTED_USER\" page=\"1\" perPage=\"1\" totalPages=\"2\" total=\"2\">\n
        \   <artist rank=\"1\">\n      <name>Test Artist</name>\n      <playcount>5100</playcount>\n
        \     <mbid></mbid>\n      <url>https://www.last.fm/music/Test+Artist</url>\n
        \     <streamable>0</streamable>\n      <image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"mega\">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \   </artist>\n  </topartists>\n</lfm>\n"
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
