interactions:
- request:
    body: method=user.getWeeklyTrackChart
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <weeklytrackchart
        user=\"bbc6music\" from=\"1763208000\" to=\"1763812800\">\n    <track rank=\"1\">\n
        \     <artist mbid=\"e0c97a4d-c392-41a9-a374-57af3e3eeab3\">Geese</artist>\n
        \     <name>Cobra</name>\n      <mbid>dd0dd10c-4890-4056-b93c-1cf0c974fb85</mbid>\n
        \     <playcount>14</playcount>\n      <image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <url>https://www.last.fm/music/Geese/_/Cobra</url>\n    </track>\n    <track
        rank=\"2\">\n      <artist mbid=\"\">jasmine.4.t</artist>\n      <name>Find
        Ur Ppl (feat. Jacob Alon)</name>\n      <mbid></mbid>\n      <playcount>14</playcount>\n
        \     <image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n
        \     <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image[...]
