interactions:
- request:
    body: method=user.getWeeklyArtistChart
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <weeklyartistchart
        user=\"bbc6music\" from=\"1763208000\" to=\"1763812800\">\n    <artist rank=\"1\">\n
        \     <name>Self Esteem</name>\n      <mbid>3a83d5ba-e243-4940-a755-3b700779665e</mbid>\n
        \     <playcount>42</playcount>\n      <url>https://www.last.fm/music/Self+Esteem</url>\n
        \   </artist>\n    <artist rank=\"2\">\n      <name>The Stone Roses</name>\n
        \     <mbid>b5fa29f1-6c22-4321-a488-b5f363b06b06</mbid>\n      <playcount>31</playcount>\n
        \     <url>https://www.last.fm/music/The+Stone+Roses</url>\n    </artist>\n
        \   <artist rank=\"3\">\n      <name>ROSAL\xCDA</name>\n      <mbid>25f3abd9-63b5-471a-bd25-feb9672dfa11</mbid>\n
        \     <playcount>18</playcount>\n      <url>https://www.[...]
