interactions:
- request:
    body: artist=John+Lennon&method=artist.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<lfm status=\"ok\"><artist><name>John
        Lennon</name>\n<mbid>4d5447d7-c61c-4120-ba1b-d7f471d385b9</mbid>\n<url>https://www.last.fm/music/John+Lennon</url>\n<image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/ad83cbece3e01c9cd9903198716be0ab.jpg</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/ad83cbece3e01c9cd9903198716be0ab.jpg</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/ad83cbece3e01c9cd9903198716be0ab.jpg</image>\n<image
        size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/ad83cbece3e01c9cd9903198716be0ab.jpg</image>\n<image
        size=\"mega\">https://lastfm.freetls.fastly.net/i/u/300x300/ad83cbece3e01c9cd9903198716be0ab.jpg</image>\n<image
        size=\"\">https://lastfm.freetls.fastly.net/i/u/300x300/ad83cbece3e01c9cd9903198716be0ab.jpg</image>\n<streamable>0</streamable>\n<ontour>0</ontour>\n<stats><listeners>3882820</listeners>\n<playcount>81047235</playcount><userplaycount>27</userplaycount>\n</stats>\n<similar><artist><name>The
        Beatles</name>\n<url>https://www.last.fm/music/The+Beatles</url>\n<image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"mega\">htt[...]
