interactions:
- request:
    body: artist=Mr+Sizef+%2B+Unquote&method=artist.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><artist><name>Mr Sizef   Unquote</name>

        <url>https://www.last.fm/music/Mr+Sizef+++Unquote</url>

        <image size="small"></image>

        <image size="medium"></image>

        <image size="large"></image>

        <image size="extralarge"></image>

        <image size="mega"></image>

        <image size=""></image>

        <streamable>0</streamable>

        <ontour>0</ontour>

        <stats><listeners>6</listeners>

        <playcount>8</playcount><userplaycount>0</userplaycount>

        </stats>

        <similar></similar>

        <tags></tags>

        <bio><links><link rel="original" href="https://last.fm/music/Mr+Sizef+++Unquote/+wiki"></link>

        </links>

        <published>01 Jan 1970, 00:00</published>

        <summary> &lt;a href=&quot;https://www.last.fm/music/Mr+Sizef+++Unquote&quot;&gt;Read
        more on Last.fm&lt;/a&gt;</summary>

        <content></content>

        </bio>

        </artist>

        </lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
