interactions:
- request:
    body: artist=Test+Artist&method=artist.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><artist><name>Test Artist</name>

        <url>https://www.last.fm/music/Test+Artist</url>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/4856e46217c24ec8a6849b34de5ca116.gif</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/4856e46217c24ec8a6849b34de5ca116.gif</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/4856e46217c24ec8a6849b34de5ca116.gif</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/4856e46217c24ec8a6849b34de5ca116.gif</image>

        <image size="mega">https://lastfm.freetls.fastly.net/i/u/300x300/4856e46217c24ec8a6849b34de5ca116.gif</image>

        <image size="">https://lastfm.freetls.fastly.net/i/u/300x300/4856e46217c24ec8a6849b34de5ca116.gif</image>

        <streamable>0</streamable>

        <ontour>0</ontour>

        <stats><listeners>1352</listeners>

        <playcount>58848</playcount><userplaycount>5100</userplaycount>

        </stats>

        <similar><artist><name>Ontario Emperor</name>

        <url>https://www.last.fm/music/Ontario+Emperor</url>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="extralarge">https://lastfm.fr[...]
