interactions:
- request:
    body: artist=Radiohead&method=artist.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<lfm status=\"ok\"><artist><name>Radiohead</name>\n<mbid>a74b1b7f-71a5-4011-9441-d0b5e4122711</mbid>\n<url>https://www.last.fm/music/Radiohead</url>\n<image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/ddaf97ebc5764ee0b37d9708b12c883d.jpg</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/ddaf97ebc5764ee0b37d9708b12c883d.jpg</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/ddaf97ebc5764ee0b37d9708b12c883d.jpg</image>\n<image
        size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/ddaf97ebc5764ee0b37d9708b12c883d.jpg</image>\n<image
        size=\"mega\">https://lastfm.freetls.fastly.net/i/u/300x300/ddaf97ebc5764ee0b37d9708b12c883d.jpg</image>\n<image
        size=\"\">https://lastfm.freetls.fastly.net/i/u/300x300/ddaf97ebc5764ee0b37d9708b12c883d.jpg</image>\n<streamable>0</streamable>\n<ontour>0</ontour>\n<stats><listeners>7965123</listeners>\n<playcount>1286093099</playcount><userplaycount>0</userplaycount>\n</stats>\n<similar><artist><name>Thom
        Yorke</name>\n<url>https://www.last.fm/music/Thom+Yorke</url>\n<image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"mega\">htt[...]
[...]
