interactions:
- request:
    body: country=United+Kingdom&location=Manchester&limit=1&method=geo.getTopTracks
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><tracks country="United Kingdom" page="1" perPage="1" totalPages="10000"
        total="10000"><track rank="0"><name>WHERE IS MY HUSBAND!</name>

        <duration>0</duration>

        <listeners>17143</listeners>

        <url>https://www.last.fm/music/RAYE/_/WHERE+IS+MY+HUSBAND%21</url>

        <streamable fulltrack="0">0</streamable>

        <artist><name>RAYE</name>

        <url>https://www.last.fm/music/RAYE</url>

        </artist>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        </track>

        </tracks>

        </lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
