interactions:
- request:
    body: method=tag.getTopTags
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><toptags offset="0" num_res="50" total="2874765"><tag><name>rock</name>

        <count>4064633</count>

        <reach>402532</reach>

        </tag>

        <tag><name>electronic</name>

        <count>2491484</count>

        <reach>261788</reach>

        </tag>

        <tag><name>seen live</name>

        <count>2191777</count>

        <reach>82552</reach>

        </tag>

        <tag><name>alternative</name>

        <count>2129165</count>

        <reach>266974</reach>

        </tag>

        <tag><name>pop</name>

        <count>2076710</count>

        <reach>233467</reach>

        </tag>

        [...]
