interactions:
- request:
    body: method=chart.getTopArtists
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<lfm status=\"ok\"><artists
        page=\"1\" perPage=\"50\" totalPages=\"2171780\" total=\"108588996\"><artist><name>The
        Weeknd</name>\n<playcount>1038749116</playcount>\n<listeners>5071143</listeners>\n<mbid>c8b03190-306c-4120-bb0b-6f2ebfc06ea9</mbid>\n<url>https://www.last.fm/music/The+Weeknd</url>\n<streamable>0</streamable>\n<image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<[...]
