interactions:
- request:
    body: mbid=03c91c40-49a6-44a7-90e7-a700edf97a62&method=album.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <album>\n
        \   <name>Believe</name>\n    <artist>Cher</artist>\n    <url>https://www.last.fm/music/Cher/Believe</url>\n
        \   <image size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/3b54885952161aaea4ce2965b2db1638.png</image>\n
        \   <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/3b54885952161aaea4ce2965b2db1638.png</image>\n
        \   <image size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/3b54885952161aaea4ce2965b2db1638.png</image>\n
        \   <image size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/3b54885952161aaea4ce2965b2db1638.png</image>\n
        \   <image size=\"mega\">https://lastfm.freetls.fastly.net/i/u/300x300/3b54885952161aaea4ce2965b2db1638.png</image>\n
        \   <image size=\"\">https://lastfm.freetls.fastly.net/i/u/300x300/3b54885952161aaea4ce2965b2db1638.png</image>\n
        \   <listeners>989728</listeners>\n    <playcount>8379061</playcount>\n    <tracks>\n
        \     <track rank=\"1\">\n        <name>Believe</name>\n        <url>https://www.last.fm/music/Cher/Believe/Believe</url>\n
        \       <duration>238</duration>\n        <streamable fulltrack=\"0\">0</streamable>\n
        \       <artist>\n          <name>Cher</name>\n          <mbid>bfcc6d75-a6a5-4bc6-8282-47aec8531818</mbid>\n
        \         <url>https://www.last.fm/music/Cher</url>\n        </artist>\n      </track>\n
        \     <track rank=\"2\">\n        <name>The Power</name>\n        <url>https://www.last.fm/music/Cher/Believe/The+Power</url>\n
        \       <duration>236</duration>\n        <streamable fulltrack=\"0\">0</streamable>\n
        \       <artist>\n          <name>Cher</name>\n          <mbid>bfcc6d75-a6a5-4bc6-8282-47aec8531818</mbid>\n
        \[...]
[...]
