interactions:
- request:
    body: artist=Nirvana&page=1&method=artist.search
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<lfm status=\"ok\"><results
        for=\"Nirvana\"><opensearch:Query role=\"request\" searchTerms=\"Nirvana\"
        startPage=\"1\"></opensearch:Query>\n<opensearch:totalResults>9036</opensearch:totalResults>\n<opensearch:startIndex>0</opensearch:startIndex>\n<opensearch:itemsPerPage>30</opensearch:itemsPerPage>\n<artistmatches><artist><name>Nirvana</name>\n<listeners>7309413</listeners>\n<mbid>5b11f4ce-a62d-471e-81fc-a69a8278c7da</mbid>\n<url>https://www.last.fm/music/Nirvana</url>\n<streamable>0</streamable>\n<image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n</artist>\n<artist><name>N\u0130RVANA</name>\n<listeners>42</listeners>\n<mbid></mbid>\n<url>https://www.last.fm/music/N%C4%B0RVANA</url>\n<streamable>0</streamable>\n<image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n</artist>\n<artist><name>Nirvan\xE0</name>\n<listeners>20</listeners>\n<mbid></mbid>\n<url>https://www.last.fm/music/Nirvan%C3%A0</url>\n<streamable>0</streamable>\n<image
        size=\"small\"></image>\n<image size=\"medium\"></image>\n<image size=\"large\"></image>\n<image
        size=\"extralarge\"></image>\n</artist>\n<artist><name>Approaching Nirvana</name>\n<listeners>97566</listeners>\n<mbid>c3a64a25-251b-4d03-afba-1471440245b8</mbid>\n<url>https://www.last.fm/music/Approaching+Nirvana</url>\n<streamable>0</streamable>\n<image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastl[...]
