interactions:
- request:
    body: country=Croatia&limit=2&method=geo.getTopTracks
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<lfm status=\"ok\"><tracks
        country=\"Croatia\" page=\"1\" perPage=\"2\" totalPages=\"5000\" total=\"10000\"><track
        rank=\"0\"><name>Dracula</name>\n<duration>205</duration>\n<listeners>239</listeners>\n<mbid>5b1c893a-16da-4e3d-b9b7-6cc57afc360c</mbid>\n<url>https://www.last.fm/music/Tame+Impala/_/Dracula</url>\n<streamable
        fulltrack=\"0\">0</streamable>\n<artist><name>Tame Impala</name>\n<mbid>63aa26c3-d59b-4da4-84ac-716b54f1ef4d</mbid>\n<url>https://www.last.fm/music/Tame+Impala</url>\n</artist>\n<image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>\n<image[...]
