interactions:
- request:
    body: album=Nevermind&page=1&method=album.search
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\n<lfm status=\"ok\"><results
        for=\"Nevermind\"><opensearch:Query role=\"request\" searchTerms=\"Nevermind\"
        startPage=\"1\"></opensearch:Query>\n<opensearch:totalResults>7892</opensearch:totalResults>\n<opensearch:startIndex>0</opensearch:startIndex>\n<opensearch:itemsPerPage>50</opensearch:itemsPerPage>\n<albummatches><album><name>Nevermind</name>\n<artist>Nirvana</artist>\n<url>https://www.last.fm/music/Nirvana/Nevermind</url>\n<image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/e8693de0a153e609b3eaebb42d62e8be.png</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/e8693de0a153e609b3eaebb42d62e8be.png</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/e8693de0a153e609b3eaebb42d62e8be.png</image>\n<image
        size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/e8693de0a153e609b3eaebb42d62e8be.png</image>\n<streamable>0</streamable>\n<mbid>0173cdb7-d43c-4497-8a2e-f0b0d27ac474</mbid>\n</album>\n<album><name>Nevermind</name>\n<artist>Dennis
        Lloyd</artist>\n<url>https://www.last.fm/music/Dennis+Lloyd/Nevermind</url>\n<image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/79ffd686c664c37e68cb8a5a8b7cd1d3.png</image>\n<image
        size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/79ffd686c664c37e68cb8a5a8b7cd1d3.png</image>\n<image
        size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/79ff[...]
