interactions:
- request:
    body: limit=1&method=chart.getTopTracks
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><tracks page="1" perPage="1" totalPages="943405001" total="943405001"><track><name>The
        Fate of Ophelia</name>

        <duration>226</duration>

        <playcount>13938891</playcount>

        <listeners>727272</listeners>

        <mbid>8670a098-6ab7-4e18-8ac0-0ec7259151f8</mbid>

        <url>https://www.last.fm/music/Taylor+Swift/_/The+Fate+of+Ophelia</url>

        <streamable fulltrack="0">0</streamable>

        <artist><name>Taylor Swift</name>

        <mbid>20244d07-534f-4eff-b4d4-930878889970</mbid>

        <url>https://www.last.fm/music/Taylor+Swift</url>

        </artist>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        </track>

        </tracks>

        </lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
