interactions:
- request:
    body: mbid=8e99ebff-c706-33a0-8e73-9c8c6e15035b&method=track.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><track><name>Believe</name>

        <mbid>8890857b-4816-3063-a410-0e06dbedfc0d</mbid>

        <url>https://www.last.fm/music/Cher/_/Believe</url>

        <duration>238000</duration>

        <streamable fulltrack="0">0</streamable>

        <listeners>1072450</listeners>

        <playcount>6989917</playcount>

        <artist><name>Cher</name>

        <mbid>bfcc6d75-a6a5-4bc6-8282-47aec8531818</mbid>

        <url>https://www.last.fm/music/Cher</url>

        </artist>

        <album><artist>Cher</artist>

        <title>Believe</title>

        <url>https://www.last.fm/music/Cher/Believe</url>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/3b54885952161aaea4ce2965b2db1638.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/3b54885952161aaea4ce2965b2db1638.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/3b54885952161aaea4ce2965b2db1638.png</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/3b54885952161aaea4ce2965b2db1638.png</image>

        </album>

        <userplaycount>0</userplaycount><userloved>0</userloved><toptags><tag><name>pop</name>

        <url>https://www.last.fm/tag/pop</url>

        </tag>

        <tag><name>dance</name>

        <url>https://www.last.fm/tag/dance</url>

        </tag>

        <tag><name>90s</name>

        <url>https://www.last.fm/tag/90s</url>

        </tag>

        <tag><name>female vocalists</name>

        <url>https://www.last.fm/tag/female+vocalists</url>

        </tag>

        <tag><name>cher</name>

        <url>https://www.last.fm/tag/cher</url>

        </tag>

        </toptags>

        <wiki><published>27 Jul 2008, 15:44</published>

        <summary>&quot;Believe&quot; is a Grammy Award winning global number one,
        Multi-Platinum Dance Song which served as the world-wide lead single for American
        singer Cher&apos;s twenty-third studio album Believe. It is noted for its
        use of a peculiar sound effect on the singer&apos;s vocals, which is referred
        to as the Cher effect today.&#10;&#10;&quot;Believe&quot; was written by a
        number of writers including Paul Barry, Matt Gray, Brian Higgins, Stuart McLellan,
        Timothy Powell, and Steven Torch. &lt;a href=&quot;http://www.last.fm/music/Cher/_/Believe&quot;&gt;Read
        more on Last.fm&lt;/a&gt;.</summary>

        <content>&quot;Believe&quot; is a Grammy Award winning global number one,
        Multi-Platinum Dance Song which served as the world-wide lead single for American
        singer Cher&apos;s twenty-third studio album Believe. It is noted for its
        use of a peculiar sound effect on the singer&apos;s vocals, which is referred
        to as the Cher effect today.&#10;&#10;&quot;Believe&quot; was written by a
        number of writers including Paul Barry, Matt Gray, Brian Higgins, Stuart McLellan,
   [...]
[...]
