interactions:
- request:
    body: limit=1&method=user.getTopTags
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><toptags user="RJ"><tag><name>rock</name>

        <count>20</count>

        <url>https://www.last.fm/tag/rock</url>

        </tag>

        </toptags>

        </lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
