interactions:
- request:
    body: track=Smells+Like+Teen+Spirit&artist=Nirvana&page=1&method=track.search
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><results for="Smells Like Teen Spirit"><opensearch:Query
        role="request" searchTerms="Smells Like Teen Spirit" startPage="1"></opensearch:Query>

        <opensearch:totalResults>38125</opensearch:totalResults>

        <opensearch:startIndex>0</opensearch:startIndex>

        <opensearch:itemsPerPage>30</opensearch:itemsPerPage>

        <trackmatches><track><name>Smells Like Teen Spirit</name>

        <artist>Nirvana</artist>

        <url>https://www.last.fm/music/Nirvana/_/Smells+Like+Teen+Spirit</url>

        <streamable>0</streamable>

        <listeners>3884191</listeners>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <mbid></mbid>

        </track>

        <track><name>Smells Like Teen Spirit - Remastered</name>

        <artist>Nirvana</artist>

        <url>https://www.last.fm/music/Nirvana/_/Smells+Like+Teen+Spirit+-+Remastered</url>

        <streamable>0</streamable>

        <listeners>38133</listeners>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41[...]
