interactions:
- request:
    body: tag=blues&limit=1&method=tag.getTopAlbums
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><albums tag="blues" page="1" perPage="1" totalPages="8022"
        total="8022"><album rank="1"><name>Naturally</name>

        <mbid>1b335bbf-03cd-4d9c-84d5-9b4972385989</mbid>

        <url>https://www.last.fm/music/J.J.+Cale/Naturally</url>

        <artist><name>J.J. Cale</name>

        <mbid>4b0be624-6b87-47e8-bbf0-588a2c6c0439</mbid>

        <url>https://www.last.fm/music/J.J.+Cale</url>

        </artist>

        <image size="small">https://lastfm.freetls.fastly.net/i/u/34s/0bfcede1aa37f5378d2b4224784ce738.png</image>

        <image size="medium">https://lastfm.freetls.fastly.net/i/u/64s/0bfcede1aa37f5378d2b4224784ce738.png</image>

        <image size="large">https://lastfm.freetls.fastly.net/i/u/174s/0bfcede1aa37f5378d2b4224784ce738.png</image>

        <image size="extralarge">https://lastfm.freetls.fastly.net/i/u/300x300/0bfcede1aa37f5378d2b4224784ce738.png</image>

        </album>

        </albums>

        </lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
