interactions:
- request:
    body: artist=Radiohead&album=OK+Computer&method=album.getInfo
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <album>\n
        \   <name>OK Computer</name>\n    <artist>Radiohead</artist>\n    <mbid>0b6b4ba0-d36f-47bd-b4ea-6a5b91842d29</mbid>\n
        \   <url>https://www.last.fm/music/Radiohead/OK+Computer</url>\n    <image
        size=\"small\">https://lastfm.freetls.fastly.net/i/u/34s/62d26c6cb4ac4bdccb8f3a2a0fd55421.png</image>\n
        \   <image size=\"medium\">https://lastfm.freetls.fastly.net/i/u/64s/62d26c6cb4ac4bdccb8f3a2a0fd55421.png</image>\n
        \   <image size=\"large\">https://lastfm.freetls.fastly.net/i/u/174s/62d26c6cb4ac4bdccb8f3a2a0fd55421.png</image>\n
        \   <image size=\"extralarge\">https://lastfm.freetls.fastly.net/i/u/300x300/62d26c6cb4ac4bdccb8f3a2a0fd55421.png</image>\n
        \   <image size=\"mega\">https://lastfm.freetls.fastly.net/i/u/300x300/62d26c6cb4ac4bdccb8f3a2a0fd55421.png</image>\n
        \   <image size=\"\">https://lastfm.freetls.fastly.net/i/u/300x300/62d26c6cb4ac4bdccb8f3a2a0fd55421.png</image>\n
        \   <listeners>4534014</listeners>\n    <playcount>233593613</playcount>\n
        \   <tracks>\n      <track rank=\"1\">\n        <name>Airbag</name>\n        <url>https://www.last.fm/music/Radiohead/OK+Computer/Airbag</url>\n
        \       <duration>262</duration>\n        <streamable fulltrack=\"0\">0</streamable>\n
        \       <artist>\n          <name>Radiohead</name>\n          <mbid>a74b1b7f-71a5-4011-9441-d0b5e4122711</mbid>\n
        \         <url>https://www.last.fm/music/Radiohead</url>\n        </artist>\n
        \     </track>\n      <track rank=\"2\">\n        <name>Paranoid Android</name>\n
        \       <url>https://www.last.fm/music/Radiohead/OK+Computer/Paranoid+Android</url>\n
        \       <duration>383</duration>\n        <streamable fulltrack=\"0[...]
