interactions:
- request:
    body: limit=3&page=1&method=user.getRecentTracks
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<lfm status=\"ok\">\n  <recenttracks
        user=\"REDACTED_USER\" page=\"1\" perPage=\"3\" totalPages=\"2230\" total=\"6688\">\n
        \   <track>\n      <artist mbid=\"\">Test Artist</artist>\n      <name>Test
        Title</name>\n      <streamable>0</streamable>\n      <mbid></mbid>\n      <album
        mbid=\"\"></album>\n      <url>https://www.last.fm/music/Test+Artist/_/Test+Title</url>\n
        \     <image size=\"small\"></image>\n      <image size=\"medium\"></image>\n
        \     <image size=\"large\"></image>\n      <image size=\"extralarge\"></image>\n
        \     <date uts=\"1637517772\">21 Nov 2021, 18:02</date>\n    </track>\n    <track>\n
        \     <artist mbid=\"\">Test Artist</artist>\n      <name>test title 2</name>\n
        \     <streamable>0</streamable>\n      <mbid></mbid>\n      <album mbid=\"\"></album>\n
        \     <url>https://www.last.fm/music/Test+Artist/_/test+title+2</url>\n      <image
        size=\"small\"></image>\n      <image size=\"medium\"></image>\n      <image
        size=\"large\"></image>\n      <image size=\"extralarge\"></image>\n      <date
        uts=\"1637517772\">21 Nov 2021, 18:02</date>\n    </track>\n    <track>\n
        \     <artist mbid=\"\">Test Artist</artist>\n      <name>Test Title</name>\n
        \     <streamable>0</streamable>\n      <mbid></mbid>\n      <album mbid=\"\"></album>\n
        \     <url>https://www.last.fm/music/Test+Artist/_/Test+Title</url>\n      <image
        size=\"small\"></image>\n      <image size=\"medium\"></image>\n      <image
        size=\"large\"></image>\n      <image size=\"extralarge\"></image>\n      <date
        uts=\"1637517418\">21 Nov 2021, 17:56</date>\n    </track>\n  </recenttracks>\n</lfm>\n"
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
