interactions:
- request:
    body: artist=Test+Artist&album=Test+Album&method=album.getTopTags
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://ws.audioscrobbler.com/2.0/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8" ?>

        <lfm status="ok"><toptags artist="Test Artist" album="Test Album"><tag><count>100</count>

        <name>a tag</name>

        <url>https://www.last.fm/tag/a+tag</url>

        </tag>

        <tag><count>100</count>

        <name>slamming guttural brutal test metal</name>

        <url>https://www.last.fm/tag/slamming+guttural+brutal+test+metal</url>

        </tag>

        <tag><count>66</count>

        <name>brutal test metal</name>

        <url>https://www.last.fm/tag/brutal+test+metal</url>

        </tag>

        </toptags>

        </lfm>

        '
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
