name: Test

on: [push, pull_request, workflow_dispatch]

env:
  FORCE_COLOR: 1

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["pypy-3.8", "3.6", "3.7", "3.8", "3.9", "3.10"]
        os: [ubuntu-20.04]
        include:
          # Include new variables for Codecov
          - { codecov-flag: GHA_Ubuntu2004, os: ubuntu-20.04 }

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: "setup.py"

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U wheel
          python -m pip install -U tox

      - name: Tox tests
        run: |
          tox -e py
        env:
          PYLAST_API_KEY: ${{ secrets.PYLAST_API_KEY }}
          PYLAST_API_SECRET: ${{ secrets.PYLAST_API_SECRET }}
          PYLAST_PASSWORD_HASH: ${{ secrets.PYLAST_PASSWORD_HASH }}
          PYLAST_USERNAME: ${{ secrets.PYLAST_USERNAME }}

      - name: Upload coverage
        uses: codecov/codecov-action@v2
        with:
          flags: ${{ matrix.codecov-flag }}
          name: ${{ matrix.os }} Python ${{ matrix.python-version }}
